<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layouttemplate"
      data-theme="light">


<th:block layout:fragment="extraHead">
</th:block>

<main layout:fragment="mainContent">


    <div class="row-box">
        <div class="col-boxes-1">
            <div class="col-table">
                <div class="table-section">
                    <div class="header-table">
                        <h2>Systementor Schema</h2>
                        <!--                        <a href="#">see all</a>-->
                    </div>

                </div>

            </div>

        </div>
    </div>







</main>

</html>